<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/cris_style.css">
    <link rel="stylesheet" href="/static/css/pico.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>{{pageTitle}}</title>
</head>
<body>
    <header>
        <div class="container">
            <hgroup>
                <h2 style="color:white; text-align: right;">Cristian Abstract Company</h2>
                <h3 style="color:white; text-align: right;">Smoke sellers since 1988</h3>
            </hgroup>
        </div>
    </header>
    <section class="container">
        <nav aria-label="breadcrumb">
            <ul>
                {% if not consult_all %}
                <li><a href="/">Inicio</a></li>
                {% endif %}
                {% if not operation_form %}
                <li><a href="/purchase">Compra</a></li>
                {% endif %}
                {% if not beneficio %}
                <li><a href="/status">Status</a></li>
                {% endif %}
            </ul>
        </nav>
    </section>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <section>       
        <article>
            <div class="grid">
                <h6>INFORMACIÓN DE LA OPERACIÓN:</h6>
            </div>
            <div>
                <ul>
                    <p></p>
                    {% for mssgs in messages %}
                        <li style= "color: red">{{ mssgs }}</li>
                    {% endfor %}
                </ul>
            </div>
        </article>
    </section>
    {% endif %}
    {% endwith %}
    <section class="container">
        {% block pageContent %}{% endblock %}
    </section>
    <footer>
        <div><p style="text-align: center; color: white">&copy; 2022 - Cristian Abstract Company. All Rights Reserved.</p></div>
    </footer>
</body>
</html>