{% extends "basic.html" %}

{% block pageContent %}

<table>
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Venta (from)</th>
            <th>Cantidad venta</th>
            <th>Compra (to)</th>
            <th>Cantidad compra</th>
            <th>Precio unitario</th>
        </tr>
    </thead>
    <tbody>
        {% for register in consult_all %}
            <tr>
                {% for column in register %}
                     <td>{{ column }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}