{% extends "basic.html" %}

{% block pageContent %}
<section>
    <form action="/purchase" method="post">
        {{ operation_form.csrf_token }}

        <div class="grid">
            {{ operation_form.moneda_from.label }}
            {{ operation_form.moneda_from }}

            {{ operation_form.moneda_to.label }}
            {{ operation_form.moneda_to }}
        </div>
        <div class="grid">
            {{ operation_form.quantity_from.label}}
            {{ operation_form.quantity_from }}

            {{ operation_form.quantity_to.label}}
            {{ operation_form.quantity_to (value=quantity_to)}}
            {{ operation_form.quantity_to.data}}
            <button type="submit" name="enviar" value="calculate"><span class="material-symbols-outlined">calculate</span></button>
        </div>
        <div class="grid">
            {{ operation_form.unitary_prize.label }}
            {{ operation_form.unitary_prize(value=unitary_prize) }}
            {{ operation_form.unitary_prize.data }}
        </div>
        <div class="grid">
            {{ operation_form.date.label }}
            {{ operation_form.date(value=date) }}
            {{ operation_form.date.data }}
            {{ operation_form.time.label }}
            {{ operation_form.time(value=time) }}
            {{ operation_form.time.data }}
        </div>
        <div class="grid">
            <button type="submit" name="enviar" value="validate" id="btn-valida"><span class="material-symbols-outlined">done_outline</span></button>
        </div>
        <div class="grid">
            {{ validation_form.moneda_from (value=moneda_from_v) }}
            {{ validation_form.moneda_from.data }}
            {{ validation_form.moneda_to (value=moneda_to_v) }}
            {{ validation_form.moneda_to.data }}
            {{ validation_form.quantity_from (value=quantity_from_v) }}
            {{ validation_form.quantity_from.data }}
            {{ validation_form.quantity_to (value=quantity_to) }}
            {{ validation_form.quantity_to.data }}
            {{ validation_form.unitary_prize (value= unitary_prize) }}
            {{ validation_form.unitary_prize.data }}
            {{ validation_form.date.label }}
            {{ validation_form.date(value=date) }}
            {{ validation_form.date.data }}
            {{ validation_form.time.label }}
            {{ validation_form.time(value=time) }}
            {{ validation_form.time.data }}
        </div>
    </form>
</section>
{% endblock %}