{% extends "basic.html" %}

{% block pageContent %}
<section>

<form action="/purchase" method="post">
    {{ operation_form.csrf_token }}

    {{ operation_form.moneda_from.label}}
    {{ operation_form.moneda_from}}

    {{ operation_form.moneda_to.label}}
    {{ operation_form.moneda_to}}

    {{ operation_form.cantidad_from.label}}
    {{ operation_form.cantidad_from}}

    <button type="submit"><span class="material-symbols-outlined">calculate</span></button>

    <button type="submit"><span class="material-symbols-outlined">done_outline</span></button>

</form>

</section>
{% endblock %}