{% extends "basic.html" %}

{% block pageContent %}
<section>
    <form action="/purchase" method="post">
        {{ operation_form.csrf_token }}

        <div class="grid">
            {{ operation_form.moneda_from.label }}
            {{ operation_form.moneda_from }}

            {{ operation_form.moneda_to.label }}
            {{ operation_form.moneda_to }}
        </div>
        <div class="grid">
            {{ operation_form.quantity_from.label}}
            {{ operation_form.quantity_from}}

            {{ operation_form.quantity_to.label}}
            {{ operation_form.quantity_to(value=quantity_to, type="hidden")}}
            {{ operation_form.quantity_to.data}}
            <input type="submit" name="enviar" value="calculate"><span class="material-symbols-outlined">calculate</span></input>
        </div>
        <div class="grid">
            {{ operation_form.unitary_prize.label }}
            {{ operation_form.unitary_prize(value=unitary_prize, type="hidden") }}
            {{ operation_form.unitary_prize.data }}
        <div class="grid">
            <button type="submit" name="enviar" value="validate" id="btn-valida"><span class="material-symbols-outlined">done_outline</span></button>
        </div>
</section>
{% endblock %}