{%  extends "basic.html" %}

{% block pageContent %}
<section class="container">
    <table>
        <thead>
            <th>ESTADO DE LA INVERSIÓN</th>
        </thead>
        <tbody>
            <tr>
                <td>Invertido</td>
                <td style="text-align: right">{{ "%.2f" | format(wallet_value["investment_eur"]) }} €</td>
            </tr>
            </div>
            <tr>
                <td>Recuperado</td>
                <td style="text-align: right">{{ "%.2f" | format(wallet_value["recovered_eur"]) }} €</td>
            </tr>
            <tr>
                <td>Valor de compra (€ atrapados como criptos)</td>
                <td style="text-align: right">{{ "%.2f" | format(wallet_value["purchase_value"]) }} €</td>
            </tr>
            <tr>
                <td>Valor actual</td>
                <td style="text-align: right">{{ "%.2f" | format(wallet_value["total_crypto_value"]) }} €</td>
            </tr style=>
            <tr>
                <td>Beneficio</td>
                {% if beneficio > 0 %}
                    <td style="text-align: right; color: green;">{{ "%.2f" | format(beneficio) }} €</td>
                    <img id="perro" src="/static/images/perro_rico.png" alt="">
                {% else %}
                    <td style="text-align: right; color: red;">{{ "%.2f" | format(beneficio) }} €</td>
                    <!-- <img id="jato" src="/static/images/jato_iorando.png" alt=""> -->
                {% endif %}
            </tr>
        </tbody>
    </table>
</section>
{% endblock %}