header, footer {
    background-color: rgb(204, 146, 0);
    color: black;
    font-size: 1.4em;
    font-weight: bold;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 200px 92px 1fr auto;
    margin: 0;
}

.hueco_resultado{
    border:1px dashed rgb(0, 0, 0);
    border-radius:27px;
    height: 83px;
    text-align: center;
    font-size: 21px;
    vertical-align: auto;
 }

 .logo_company {
    position: absolute; 
    z-index: 5px;
 }

#info_list {
    margin-top: 20px;
}

#section_nav #section_subpages {
    margin-top: 20px;
}

#info_list_section {
    margin-bottom: 10px;
}

#img {
    width: 150px;
    height: 150px;
    float: right;
    position:relative;
    top: -50px;
    left: -1370px; 
}

#hg {
    position:relative;
    top: -20px; 
}

#jato {
    float: right;
    width: 110px;
    height: 110px;
    position:relative;
    top: 290px;
    left: 120px;
}

#perro {
    float: right;
    width: 100px;
    height: 150px;
    position:relative;
    top: 290px;
    left: 120px;
}

.coin_logo {
    height: 25px;
    width: 25px;
}

#disimulando {
    float: right;
    width: 240px;
    height: 260px;
    position: relative;
    top: -180px;
    left: 100
}

#venta_euros {
    float: right;
    width: 230px;
    height: 170px;
    position: relative;
    top: -130px;
    left: 20px
}

#venta_otras {
    border:3px solid rgb(204, 146, 0);
    border-radius:27px;
    float: right;
    width: 300px;
    height: 200px;
    position: relative;
    top: -140px;
    left: -58px
}